<div style="text-align:center">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Herobar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/heroes" routerLinkActive="active">List of Heroes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/search-result" routerLinkActive="active">Heroes Search</a>
            </li>
          </ul>
        </div>
      </nav>

  

  <!-- <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav> -->

  <!-- <app-hero-search></app-hero-search> -->

  <router-outlet></router-outlet>

