
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav-link a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav-link a:visited, a:link {
    color: #607d8b;
  }
  nav-link a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav-link a.active {
    color: #039be5;
  }