h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 450%;
}

.spindoxlogo {
    overflow: hidden;
    transition-duration: 1.0s;
    transition-property: transform;
}
.spindoxlogo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}